<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>登入</title>
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/public/css/login.css">
</head>

<body>
  <div class="main">
    <div class="header">
      <h1>用戶登入</h1>
      <h4><a href="/">點我回首頁</a></h4>
    </div>
    <form id="login_form">
      <div class="form-group">
        <label for="">信箱</label>
        <input type="email" class="form-control" id="" name="email" placeholder="Email" autofocus>
      </div>
      <div class="form-group">
        <label for="">密碼</label>
        <a class="pull-right" href="">忘記密碼？</a>
        <input type="password" class="form-control" id="" name="password" placeholder="Password">
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox">記住我
        </label>
      </div>
      <button type="submit" class="btn btn-success btn-block">登入</button>
    </form>
    <div class="message">
      <p>沒有帳號？<a href="/register">點擊創建</a>.</p>
    </div>
  </div>
  <script src="/node_modules/jquery/dist/jquery.js"></script>
  <script>
    $('#login_form').on('submit', function (e) {
      e.preventDefault()
      var formData = $(this).serialize()
      console.log(formData)
      $.ajax({
        url: '/login',
        type: 'post',
        data: formData,
        dataType: 'json',
        success: function (data) {
          var err_code = data.err_code
          if (err_code === 0) {
            // window.alert('注册成功！')
            // 服务端重定向针对异步请求无效
            window.location.href = '/'
          } else if (err_code === 1) {
            window.alert('信箱或密碼錯誤')
          } else if (err_code === 500) {
            window.alert('系統繁忙，請稍候重試。')
          }
        }
      })
    })
  </script>
</body>

</html>
