{{extend '../_layouts/home.html'}}

{{block 'title'}}{{'部落格 - 首頁'}}{{/block}}

{{block 'body'}}
<section class="container">
  {{include '../_partials/settings-nav.html'}}
  <div class="col-md-5">
    <div class="subhead">
      <h2>修改密碼</h2>
    </div>
    <hr>
    <form>
      <div class="form-group">
        <label for="exampleInputPassword1">當前密碼</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">新密碼</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">確認密碼</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="">
      </div>
      <button type="submit" class="btn btn-success">保存</button>
    </form>
    <div class="subhead">
      <h2>刪除帳號</h2>
      <hr>
    </div>
    <div>
      <p>此為永久刪除，刪除後無法復原，請慎選。</p>
      <button class="btn btn-danger">確定刪除</button>
    </div>
    <hr>
  </div>
</section>
{{/block}}
